- provide(:title, "Sign in")
%h1 Sign in
.row
  .large-8.small-centered.columns
    -# = render 'shared/error_messages'
    = form_tag sessions_path, html: {id: "signin"} do
      = label_tag :email do
        Email
        = email_field_tag :email
      = label_tag :password do
        Password
        = password_field_tag :password
      = submit_tag "Sign in", class: "button"
    %p Not a user? #{link_to "Sign up", signup_path}
